html, body {
    margin: 0;
    padding: 0;
}

main {    
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 143, 166,1.0);
    justify-content: center;
    align-items: center;
}

.projects{
    display: flex;
    flex-direction: column;
}

.projects a{
    color: rgba(245, 246, 250,1.0);
    text-decoration: none;
    text-align: center;
    background-color: rgba(39, 60, 117,1.0);
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    transition: all 0.3s ease;    
}
.projects a:hover{
    transform: scale(1.05);    
}


