*{
    font-family: 'Itim', cursive;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}  

main{
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, #ffdab9, #ffdab9, #ffdab9, #ffdab9, #ffdab9, #ffd1b0, #ffc8a9, #ffbfa2, #ffa99a, #ff929c, #ff7ca9, #ff69bf);
}

.searchBar {  
    display: flex; 
    padding: 0.1rem;
    margin: 1rem;
    margin-top: 3rem;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    border-radius: 2.5rem;
    background-color: whitesmoke;
    box-shadow: 0 0 1rem rgba(255, 105, 180, 0.2);
    max-width: 600px;
    transition: all 0.3s ease;
}

.searchTxt{
    display: flex;
    width: 100%;
    margin-left: 3rem;
    margin-right: 1.5rem;
    text-align: center;
    border: none;
    background: none;
    font-size: 2rem;
}
.searchTxt:focus {
    opacity: 1;
    outline: none;
}
.searchTxt:hover:not(:focus) {
    outline: none;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.searchBtn {   
    padding: 1rem;
    display: flex;
    text-decoration: none;
    border-radius: 2.5rem;
    border-style: none;
    color: white;
    background-color: hotpink;
    box-shadow: 0 0 1rem rgba(255, 105, 180, 0.1);
    font-size: 1.8rem;
    text-align: center;
    transition: all 0.3s ease;
}
.searchBtn:focus {
    outline: none;
}
.searchBtn:hover {
    cursor: pointer;
    transform: scale(1.05);    
    outline: none;
    transition: all 0.1s ease;
}

.searchResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: red;
}
.searchResult img{
    margin: .8rem;
    border-radius: .5rem;
    height: 150px;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.searchResult img:hover{
    transform: scale(0.98);
    opacity: 0.8;    
}

.resultNumber{
    display: none;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.scrollInstruction{
    display: none;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

footer{
    width: 100%;
    height: 5rem;
    display: none;
    background-color: hotpink;
}

.lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.lightbox img{
    max-height: 90%;
    max-width: 90%;
}

.backToTop{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    background-color: hotpink;
    color: white;
    transition: all 0.3s ease;
}
.backToTop:hover{
    border-color: hotpink;
    background-color: white;
    color: hotpink;
}
.backToTop span{
    font-size: 3rem;
}